/*Colors
really dark blue = #1D2943;
almost black but still a little blue = #10141C;
content bakground: rgba(83, 101, 110, .95); */

body {
  font-family: 'Ruda', sans-serif;
  background-color: #081c30;
}



/*Navigation*/
.nav li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  color: #e6eff4;
}

.nav {
  border-radius: 10px;
  padding-top: 10px;
}





/*Jumbtron*/
.container .jumbotron {
  background-color: rgba(255, 255, 255, .9);
  padding-top: 70px;
  padding-bottom: 90px;
}

.container .jumbotron p {
  font-size: 40px;
}

.container .jumbotron h1 {
  color: #1D2943;
  font-size: 250px;
}


/*container jumbotron*/
.content .jumbotron {
  background-color: rgba(83, 101, 110, .95);
  padding-left: 70px;
  padding-right: 70px;
}

.content .jumbotron h1 {
  font-size: 60px;
  color: #e6eff4;
  font-weight: bolder;
}

.content .jumbotron p {
  font-size: 30px;
  color: #e6eff4;
}

.content .container {
  border-bottom-style: solid;
}
