/*Colors
really dark blue = #1D2943;
almost black but still a little blue = #10141C;
content bakground: rgba(83, 101, 110, .95); */

body {
  font-family: 'Ruda', sans-serif;
  background-color: #081c30;
}



/*Navigation*/
.nav li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  color: #e6eff4;
}

.nav {
  border-radius: 10px;
  padding-top: 10px;
}

/*NAV PROTOCOL*/
.nav-protocol li {
  display: inline;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 25px;
  color: #e6eff4;
}

.nav-protocol {
  border-radius: 10px;
  padding-top: 10px;
}




/*Jumbtron*/
.container .jumbotron {
  background-image: url("background.jpg");
  padding-top: 70px;
  padding-bottom: 90px;
}

.container .jumbotron p {
  font-size: 40px;
}

.container .jumbotron h1 {
  color: #1D2943;
  font-size: 250px;
}

b {
  color: #e6eff4;
  font-size: 45px;
}

/*content jumbotron*/
.content .jumbotron {
  background-color: rgba(83, 101, 110, .95);
  padding-left: 70px;
  padding-right: 70px;
}

.content .jumbotron h1 {
  font-size: 60px;
  color: #1D2943;
  font-weight: bolder;
}

.content .jumbotron p {
  font-size: 30px;
  color: #e6eff4;
}

.content .container {
  border-bottom-style: solid;
}

.ackgnowledgements {
  color: #e6eff4;
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
  border-top-style: solid;
}



/*THIS MAKES THE LINKS BE THE FUCKING COLOR THEY"RE SUPPOSED TO BE*/
a {
  color: #e6eff4;
  text-decoration: none;
}

a:hover {
  color: rgba(83, 101, 110, .95);
  text-decoration: none;
}


/*The button at the end of each page to go to the next one*/

.container .nextpage h1 {
  text-align: center;
  width: 100%;
  font-size: 60px;
  color: #e6eff4;
  padding-bottom: 20px;
}





/*ALL THE FUCKING JUMBOTRON BULLSHIT*/


/*DESIGN PAGE SHIT*/
.page-design .jumbotron {

}

.page-design .jumbotron h1 {
  font-size: 60px;
}

.page-design .jumbotron p {
  font-size: 30px;
}

/*TEST PAGE SHIT*/
.page-test .jumbotron {

}

.page-test .jumbotron h1 {
  font-size: 60px;
}

.page-test .jumbotron p {
  font-size: 30px;
}



/*SUBMIT PAGE SHIT*/
.page-submit .jumbotron {

}

.page-submit .jumbotron h1 {
  font-size: 60px;
}

.page-submit .jumbotron p {
  font-size: 30px;
}



/*ANALYZE PAGE SHIT*/
.page-analyze .jumbotron {

}

.page-analyze .jumbotron h1 {
  font-size: 60px;
}

.page-analyze .jumbotron p {
  font-size: 30px;
}



/*HELP PAGE SHIT*/
.page-help .jumbotron {

}

.page-help .jumbotron h1 {
  font-size: 60px;
}

.page-help .jumbotron p {
  font-size: 30px;
}
